<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="frontproyecto-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
      <h2>Soy [[first_name]] [[last_name]]</h2>
      <h3>Tengo [[age]] años</h3>
      <input type="text" value="{{first_name::input}}" />   <!-- two way -->
      <input type="range" min"18" value="{{age::input}}" />   <!-- two way -->
      <!-- <input type="text" value="[[first_name]]" /> --> <!--one way -->
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class FrontproyectoApp extends Polymer.Element {
      static get is() { return 'frontproyecto-app'; }
      static get properties() {
        return {
          first_name: {
            type: String
          },
          last_name:{
            type: String
          },
          age: {
            type: Number
          }

/**
          prop1: {
            type: String,
            //value: 'frontproyecto-app'
            value: 'Juanito TehcU 2018'

          }
          first_name:
          type: String,
          value: 'Juan'
        }
**/
        };
      }
    }

    window.customElements.define(FrontproyectoApp.is, FrontproyectoApp);
  </script>
</dom-module>
